/////////////
// Styles for calendar3
/////////////

$zen-column-count: 5;

.page-calendar,
.page-node-calendar {
  .calendar-year > h2 {
    color: #d95900;
    font-weight: normal;
    font-size: 300%;
    text-align: center;
    margin-bottom: -2ex;
  }

  .calendar-week > h2 {
    font-weight: normal;
    text-align: center;
  }

  .event-entry {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $light-grey;
    a {
      font-size: $base-font-size;
    }
  }

  .ongoing {
    background-color: #ecdbcb;
    .event-entry {
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  .calendar-date {
    margin-top: 2em;
    h3 {
      background-color: #026f9c;
      color: #fff;
      padding: 0.5em;
    }
    h3:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  .calendar-date.collapsed h3 {
    opacity: 0.5;
  }

  .event-entry {
    margin-top: 1ex;
  }

  .event-types-filter {
    p {
      font-size: $base-font-size;
    }

    #show-events {
      margin-top: 0.5em;
    }
  }

  #datepicker {
    margin-bottom: 3em;
    p {
      font-size: $base-font-size;
    }

    .ui-datepicker {
      padding: 0;
      border: 0;
    }

    .ui-corner-all {
      border-radius: 0;
    }

    .ui-datepicker-header {
      background: #d95900;
      border: 0;
      color: white;

      a:hover {
        background-color: transparent;
        background-image: none;
        cursor: pointer;
      }
    }

    .ui-datepicker-calendar {
      .ui-state-default {
        background: #fff;
        border: 0;
        color: $font-color-dark;
        font-size: $base-font-size;
      }

      .ui-state-hover {
        background-color: $light-grey;
      }

      .ui-state-highlight {
        // today
        background-color: $light-grey;
      }

      .ui-state-active {
        background-color: #000;
        color: #fff;
      }

      th {
        font-weight: normal;
      }

      tr {
        border-bottom: 1px solid $light-grey;
      }

      td {
        a {
          text-decoration: none;
        }
      }
    }
  }
}

@media all and (min-width: 720px) {
  .calendar-content {
    @include zen-grid-item(3, 1.5);
    .calendar-year {
      min-height: 15em;
      > h2 {
        font-size: 500%;
        position: absolute;
        margin: 0;
        width: 7ex;
        text-align: right;
        -webkit-transform: rotate(-90deg) translate(0,-10.8ex);
        -webkit-transform-origin: 100% 0%;
        transform: rotate(-90deg) translate(0,-10.8ex);
        transform-origin: 100% 0%;
      }
    }

    .calendar-week {
      min-height: 5em;
      > h2 {
        margin: 0;
        font-weight: normal;
        position: absolute;
        width: 10ex;
        text-align: right;
        -webkit-transform: rotate(-90deg) translate(0,-14ex);
        -webkit-transform-origin: 100% 0%;
        transform: rotate(-90deg) translate(0,-14ex);
        transform-origin: 100% 0%;
      }
    }
  }
  .calendar-types {
    @include zen-grid-item(1, 5);
    margin-top: 4.2em;
  }
}
