@mixin workflow_arrow($border-width, $border-color, $background) {
  &:before {
    width:0px;
    height:0px;
    border-top: $border-width solid $background;
    border-bottom: $border-width solid $background;
    border-left: $border-width solid transparent;
    position: absolute;
    content: "";
    top: 0px;
    left: -#{$border-width};
  }
  &:after {
    width:0px;
    height:0px;
    border-top: $border-width solid transparent;
    border-bottom: $border-width solid transparent;
    border-left: $border-width solid $background;
    position: absolute;
    content: "";
    top: 0px;
    left: 100%;
  }
}

.node-uib-content-list {
  .field-collection-container {
    padding-left: 14px;
    @include zen-clear();
    div {
      margin-top: 8px;
      float: left;
    }
  }
  .field-collection-view {
    border-bottom: 0 none;
  }
}
.uib-step__not-current {
  @include workflow_arrow(14px, #333, $light-grey);
  background: $light-grey;
}
.uib-step__current {
  @include workflow_arrow(14px, #333, $blue);
  background: $blue;
  color: #fff;
}
.uib-step {
  box-sizing: border-box;
  display: block;
  height: 28px;
  margin-right: 20px;
  padding: 5px 10px 0;
  position: relative;
  vertical-align: middle;
  .field-item:first-child:not(:last-child) & {
    margin-left: -14px;
    &:before {
      display: none;
    }
  }
}
@media all and (max-width: 719px) {
  .list__previous,
  .list__next {
    margin-top: 20px;
    padding: 20px 0;
  }
  .list__previous {
    float: left;
    &:before {
      content: "\2190";
    }
  }
  .list__next {
    float: right;
    &:after {
      content: "\2192";
    }
  }
}
@media all and (min-width: 720px) {
  .list__previous,
  .list__next {
    display: none;
  }
}


