/*
 * Any custom CSS code wanted for admin pages may be added in this file
 * */
.page-webdesk .views-field-picture img {
  height: auto;
  width: 10rem;
}
.adminimal-theme input.form-autocomplete,
.adminimal-theme input.form-text,
.adminimal-theme input.form-file,
.adminimal-theme textarea.form-textarea,
.adminimal-theme select.form-select,
.adminimal-theme fieldset,
.adminimal-theme .defaultSkin .mceIframeContainer,
.adminimal-theme .defaultSkin table.mceLayout,
.adminimal-theme .defaultSkin table.mceLayout tr.mceFirst td,
.adminimal-theme .defaultSkin table.mceLayout tr.mceLast td {
  border-color: #858585;
}
.adminimal-theme .media-thumbnail img {
  max-height: 200px;
  width: auto;
}

.field-name-field-uib-published-timestamp fieldset,
.field-name-field-uib-published-timestamp legend,
.field-name-field-uib-published-timestamp fieldset.date-combo
  .container-inline-date .date-padding {
  border: none;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
  padding-top: 0;
}
.field-name-field-uib-published-timestamp.form-wrapper{
  margin: 40px 0 0;
}
#edit-field-uib-external-author-und-0-format {
  display: none;
}
.user-picture img {
	max-width: 387px;
	width: 100%;
	height: auto;
}
.unpublished #page {
	background-color: rgba(255, 0, 0, 0.08);
}

/**
* Simple styling for main media with optional custom image caption
*/
.group-main-media fieldset,
.group-small-images fieldset
{
  border: none;
  box-shadow: none;
}
.group-main-media fieldset legend,
.group-small-images fieldset legend
{
  margin-left: 0;
  padding: 0;
}
html.js
fieldset.collapsible.[class^="group-"]
[class^="field-name-field-uib-imagecaptions"]
.fieldset-legend
{
  background: none;
  padding-left: 0;
}
[class^="field-name-field-uib-imagecaptions"] .tabledrag-handle {
  display: none;
}
.group-main-media .field-name-field-uib-main-media legend,
.group-small-images .field-name-field-uib-main-media legend
{
  display: none;
}
[class^="field-name-field-uib-imagecaptions"]
.field-multiple-table
td:not(.field-multiple-drag),
[class^="field-name-field-uib-imagecaptions"]
.field-multiple-table
td:not(.delta-order),
[class^="field-name-field-uib-imagecaptions"]
.field-multiple-table
td:not(.field-multiple-drag) > .ajax-new-content,
[class^="field-name-field-uib-imagecaptions"]
.field-multiple-table
td:not(.delta-order) > .ajax-new-content {
	display: flex;
	align-items: end;
	flex-wrap: wrap;
}
.field-name-field-uib-imagecaption {
  flex-grow: 2;
}
.field-name-field-uib-imagecaption textarea{
	height: 46px;
}
.field-name-field-uib-imageindex {
  flex-grow: 1;
  margin-left: 10px;
}
.field-name-field-uib-imageindex select{
	height: 21px;
	margin-bottom: 23px;
}
[class^="field-name-field-uib-imagecaptions"]
.field-multiple-table input.form-submit {
  flex-grow: 1;
  height: 23px;
  margin-bottom: 41px;
}
.page-webdesk .more-link {
  padding: 0.5rem 0.625rem;
  text-align: left;
}
