/*
 * Any custom CSS code wanted for admin pages may be added in this file
 * */
.page-webdesk .views-field-picture img {
  height: auto;
  width: 10rem;
}
.adminimal-theme input.form-autocomplete,
.adminimal-theme input.form-text,
.adminimal-theme input.form-file,
.adminimal-theme textarea.form-textarea,
.adminimal-theme select.form-select,
.adminimal-theme fieldset,
.adminimal-theme .defaultSkin .mceIframeContainer,
.adminimal-theme .defaultSkin table.mceLayout,
.adminimal-theme .defaultSkin table.mceLayout tr.mceFirst td,
.adminimal-theme .defaultSkin table.mceLayout tr.mceLast td {
  border-color: #858585;
}
.adminimal-theme .media-thumbnail img {
  max-height: 200px;
  width: auto;
}
.adminimal-theme .field-name-field-uib-area .form-text.form-autocomplete,
.adminimal-theme .field-name-field-uib-relation .form-text.form-autocomplete {
  width: 95%;
}

.adminimal-theme .field-name-field-uib-study-text .filter-wrapper .form-item {
  float: none;
}

.field-name-field-uib-published-timestamp fieldset,
.field-name-field-uib-published-timestamp legend,
.field-name-field-uib-published-timestamp fieldset.date-combo
  .container-inline-date .date-padding {
  border: none;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
  padding-top: 0;
}
#edit-field-uib-external-author-und-0-format {
  display: none;
}
.user-picture img {
	max-width: 387px;
	width: 100%;
	height: auto;
}
.unpublished #page {
	background-color: rgba(255, 0, 0, 0.08);
}

.page-webdesk .more-link {
  padding: 0.5rem 0.625rem;
  text-align: left;
}

/* Styling for image caption fields */
#page #content-wrapper .field-name-field-uib-imagecaption,
#page #content-wrapper .field-name-field-uib-imageindex,
#page #content-wrapper .field-name-field-uib-imageindex + input {
  display: inline-block;
}
#page #content-wrapper .field-name-field-uib-imagecaption {
  width: 100%;
}
#page #content-wrapper .field-name-field-uib-imageindex {
  margin-right: .5rem;
}

@media (min-width: 78rem) {
  #page #content-wrapper .field-name-field-uib-imagecaption {
    width: 75%;
  }
  #page #content-wrapper .field-name-field-uib-imageindex {
    width: 10%;
    vertical-align: top;
    margin-left: 4rem;
  }
  #page #content-wrapper .field-name-field-uib-imageindex + input {
    vertical-align: top;
    margin-top: 2rem;
  }
}

/* Styling search boost admin ui */
#uib-search-boosting-admin-form .boost-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#uib-search-boosting-admin-form .boost-fields .form-item {
  flex: 1 1 300px;
  border: 1px solid #DDD;
  max-width: 300px;
  padding: 10px;
}
#uib-search-boosting-admin-form .boost-fields .form-type-textfield input {
  width: 50px;
}
#uib-search-boosting-admin-form > div {
  display: flex;
  flex-flow: column nowrap;
}
#uib-search-boosting-admin-form .test-results {
  order: 2; /* end */
}

.page-file-usage div#page div#main-content table thead tr th:last-child {
    color: transparent;
    white-space: nowrap;
    max-width: 5rem;
    overflow: hidden;
}
.page-file-usage div#page div#main-content table thead tr th:last-child:before {
  content: 'Number of revisions';
  color: #696969;
}

/* Styling for help text */
.adminimal-theme .form-item .description,
.admin-menu .form-item .description,
.text-format-wrapper .description,
.fieldset-wrapper .fieldset-description,
.description {
  font-size: 0.875rem;
  color: #333;
  background-color: #eee;
  padding: 15px;
}

/* Styling for buttons */
#page #content-wrapper input.form-submit,
#page #content-wrapper a.button {
  background: #4d8f46;
  color: #eee;
  border: 1px #777 solid;
}
#page #content-wrapper input#edit-preview-changes {
  background: #eee;
  color: #555;
  border: 1px #777 solid;
}
#page #content-wrapper input.remove,
#page #content-wrapper input#edit-delete,
#page #content-wrapper input[id*="remove-button"] {
  background: #b73939;
  color: #fff;
  border: 1px #777 solid;
}
#page #content-wrapper .media-widget .preview {
  margin: 0;
}

/* Styling for fieldsets */
#page #content-wrapper fieldset.collapsible,
#page #content-wrapper fieldset.collapsible fieldset,
#page #content-wrapper fieldset.date-combo,
#page #content-wrapper fieldset.vertical-tabs-pane,
#page #content-wrapper fieldset#edit-field-uib-files-und,
.adminimal-theme .cke_dialog_ui_fieldset {
  box-shadow: none;
}
#page #content-wrapper fieldset.collapsible,
#page #content-wrapper fieldset.vertical-tabs-pane,
#page #content-wrapper fieldset#edit-field-uib-files-und,
#page #content-wrapper fieldset.date-combo {
  border-top: 1px solid #858585;
}
#page #content-wrapper fieldset.collapsible {
  margin-top: 30px;
}
#page #content-wrapper fieldset.collapsible fieldset {
  border: 0;
}

/* Styling for general layout and alignment */
.page-node #page #content-wrapper {
  max-width: 72rem;
}
#page #content-wrapper .form-item {
  padding: 0;
}
#page #content-wrapper div.form-type-checkbox div.description {
  margin-left: 0;
}

/* Styling for hidden elements */
#page #content-wrapper .field-name-field-uib-main-media .form-type-media label,
#page #content-wrapper .field-name-field-uib-media .form-type-media label,
#page #content-wrapper #edit-field-uib-media-und legend {
  visibility: hidden;
}
#page #content-wrapper .tabledrag-toggle-weight-wrapper,
#page #content-wrapper #edit-field-uib-imagecaptions table th,
#page #content-wrapper #edit-field-uib-imagecaptions2 table th,
#page #content-wrapper fieldset.collapsible fieldset legend,
#page #content-wrapper .form-item-field-uib-area-und-0-target-id label,
#page #content-wrapper .field-name-field-uib-imageindex label span,
.form-item-title .description br,
.i18n-nb .form-item-title .description br + ul,
.i18n-en .form-item-title .description ul:first-child,
.i18n-nb #edit-scheduler-settings #edit-extra-info p:nth-child(2),
.i18n-en #edit-scheduler-settings #edit-extra-info p:first-child {
  display: none;
}
#page #content-wrapper fieldset.vertical-tabs-pane fieldset.date-combo legend {
  display: none !important;
}

.not-logged-in.page-user #user-login > div {
  background: #eee;
  margin: 0 auto;
  padding: 3rem 3rem;
  width: 22rem;
}

.not-logged-in.page-user #user-login .uib-login-text {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.not-logged-in.page-user #user-login .hybridauth-widget-provider {
  margin: 0 auto;
  display: inline-block;
  padding: 1rem 2rem;
  background: #b73939;
  color: #fff;
  text-transform: uppercase;
}

.node-uib_study-form .field-name-field-uib-study-image-captions .field-multiple-drag {
  width: 0;
}
#page #content-wrapper .field-name-field-uib-imageindex {
  margin-left: 0.5rem;
}

#file-entity-edit {
  padding-left: 1.25rem;
}
